.homeContainer {
  display: flex;
  flex-direction: column;
  margin-inline: 25%;
  gap: 0.5rem;
}

.homeContainer div {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}
.roomContainer {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  margin-top: 1rem;
}
